<div class="files-list" data-controller="files" data-files-target="dropArea list"
     data-files-max-size-value="<%= Row::MAX_ATTACHMENT_SIZE %>"
     data-files-item-removed-text-value="<%= t("field.file_removed") %>"
     data-files-item-added-text-value="<%= t("field.file_added") %>"
     data-files-item-complete-text-value="<%= t("field.file_complete") %>"
     data-files-item-too-big-text-value="<%= t("field.file_too_big", max_size: number_to_human_size(Row::MAX_ATTACHMENT_SIZE)) %>">

  <%# Special empty value so that “something” is submitted in the form even if all the files are removed %>
  <%= hidden_field_tag field_name, "_empty" %>

  <%# Existing present files %>
  <% files.each do |file| %>
    <div class="files-item files-item--present">
      <button type="button" class="icon-button files-item__remove-button" data-action="files#removeItem">
        <%= helpers.embedded_svg "remove_item.svg", class: "icon--small icon--tinted" %>
      </button>
      <%= hidden_field_tag field_name, file.signed_id %>
      <%= link_to url_for(file), class: "files-item__content files-item__link", title: file.filename, target: "_blank", rel: "noopener" do %>
        <% if file.representable? %>
          <%= image_tag file.representation(resize_to_limit: [200, 200]), class: "files-item__preview" %>
        <% else %>
          <%= helpers.embedded_svg "file.svg" %>
        <% end %>
        <div class="files-item__title"><%= file.filename %></div>
        <div class="files-item__metadata"><%= number_to_human_size(file.byte_size) %></div>
        <% if file.metadata[:width] && file.metadata[:height] %>
          <div class="files-item__metadata"><%= "#{file.metadata[:width].to_i} × #{file.metadata[:height].to_i}" %></div>
        <% end %>
        <% if file.metadata[:duration] %>
          <div class="files-item__metadata"><%= I18n.l(Time.zone.at(file.metadata[:duration]), format: :media_duration) %></div>
        <% end %>
        <div class="files-item__status"></div>
      <% end %>
    </div>
  <% end %>

  <%# Template for files_controller to add new `.files-item`s %>
  <template data-files-target="template">
    <div class="files-item">
      <div class="files-item__content">
        <%= helpers.embedded_svg "file-up.svg" %>
        <div class="files-item__title"></div>
        <div class="files-item__metadata"></div>
        <div class="files-item__status"></div>
        <progress class="files-item__progress" max="100" value="0"></progress>
      </div>
    </div>
  </template>

  <%# Buttons (camera and regular) %>
  <% if helpers.policy(@row).update? && !@field.locked? %>
    <div class="files-item files-item--button">
      <label class="files-item__content">
        <%= helpers.embedded_svg "camera.svg" %>
        <div class="files-item__title">
          <%= t "field.take_picture" %>
          <input type="file" name="<%= field_name %>" multiple hidden
            data-direct-upload-url="<%= rails_direct_uploads_url %>"
            data-files-target="cameraInput" accept="image/*" capture="environment">
        </div>
      </label>
    </div>

    <div class="files-item files-item--button">
      <label class="files-item__content">
        <%= helpers.embedded_svg "upload-cloud.svg" %>
        <div class="files-item__title">
          <%= t "field.attach_file" %>
          <input type="file" name="<%= field_name %>" multiple hidden
            data-direct-upload-url="<%= rails_direct_uploads_url %>"
            data-files-target="fileInput">
        </div>
      </label>
    </div>
  <% end %>
</div>
