<%# locals: (map:, role_type:, current_user_id:) %>
<%# displays two panes with a dragbar in the middle to resize them %>

<div
    class="map_document__container"
    data-controller="map dragbar restricted"
    data-map-map-id-value="<%= map.id %>"
    data-map-default-longitude-value="<%= map.default_longitude %>"
    data-map-default-latitude-value="<%= map.default_latitude %>"
    data-map-default-zoom-value="<%= map.default_zoom %>"
    data-map-style-url-value="<%= map_url(map, format: :style, only_path: false) %>"
    data-restricted-role-value="<%= "#{role_type}-#{current_user_id}" %>">
  <div class="map_document__data" data-dragbar-target="left">
    <%= content_for :left_pane %>
  </div>
  <div class="map_document__dragbar" data-dragbar-target="dragbar">
    <%= image_tag "dragbar_cursor.svg", alt: t("common.dragbar_cursor"), class: "map_document__dragbar__svg" %>
  </div>
  <div data-dragbar-target="right" class="map_document__right_pane">
    <%= content_for :right_pane %>
  </div>
</div>
