<%# locals: (resource:) %>
<%# displays the errors of an ActiveRecord resource, to be used in a form. %>

<% if resource.errors.any? %>
  <div id="<%= dom_id(resource, :errors) %>" class="message message--error">
    <h3 class="message__title">
      <%= I18n.t("errors.messages.not_saved",
            count: resource.errors.count,
            resource: resource.class.model_name.human.downcase) %>
    </h3>
    <ul class="message__list">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
