<%# locals: (user_role:) %>

<%= form_with model: [user_role.map, user_role], id: dom_id(user_role) do |form| %>
  <h3 class="form__header"><%= t(".header") %></h3>

  <div class="list-element__row list-element__row--grid">
    <div class="form__field">
      <%= form.label :role_type %>
      <%= form.select :role_type, options_for_role_type_select(user_role) %>
    </div>

    <div class="form__field">
      <%= form.fields_for :user do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, required: true %>
      <% end %>
    </div>

    <div class="form__field form__field--bottom">
      <%= form.button class: "button button--confirm" %>
    </div>
  </div>
<% end %>
