<%#
  Override the layout/turbo_rails/frame.html.erb; renders layouts/modal if necessary.

  See https://github.com/hotwired/turbo-rails/blob/main/app/controllers/turbo/frames/frame_request.rb :
  # The layout used is <tt>turbo_rails/frame.html.erb</tt>. If there's a need to customize this layout, an application can
  # supply its own (such as <tt>app/views/layouts/turbo_rails/frame.html.erb</tt>) which will be used instead.
%>

<html>
  <head>
    <%= yield :head %>
  </head>
  <body>
    <% if turbo_frame_request_id == "modal" %>
      <%= render template: "layouts/modal" %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
