<%# locals: (operation:, in_index: false) %>

<div id="<%= dom_id(operation) %>" class="import-operation">
  <% if in_index %>
    <section class="import-operation--section import-operation--section-title">
      <span>
        <% if operation.configuration.recurring? %>
          <%= t(".next_occurrence", next_occurrence: l(operation.configuration.next_occurrence, format: :short)) %>
        <% else %>
          <%= l(operation.updated_at, format: :short) %>
        <% end %>
      </span>
      <% if operation.done? && operation.duplicable? %>
        <%= link_to t(".duplicate"),
              map_import_operations_path(map_id: operation.configuration.map, duplicate_from_operation_id: operation),
              data: {turbo_method: "post"},
              class: "button button--link" %>
      <% end %>
    </section>
  <% end %>
  <section class="import-operation--section">
    <% if operation.local_source_file.present? %>
      <div class="files-list import__source">
        <div class="files-item files-item--single-button">
          <div class="files-item__content">
            <%= embedded_svg("file-up.svg", class: "icon--regular") %>
            <div>
              <div class="files-item__title"><%= operation.local_source_file.blob.filename %></div>
              <div class="files-item__metadata"><%= number_to_human_size(operation.local_source_file.blob.byte_size) %></div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="form__field form__field--large">
        <div class="form__input-with-button">
          <%= url_field_tag :remote_source_url, operation.remote_source_url, readonly: true, autocomplete: "off" %>
        </div>
      </div>
    <% end %>
  </section>

  <section class="import-operation--section">
    <h3><%= Import::Operation.human_attribute_name("status.#{operation.status}") %></h3>
    <% if operation.done? %>
      <span><%= Import::Operation.human_attribute_name("success.#{operation.success?}") %></span>
      <% if operation.global_error.present? %>
        <code><%= operation.global_error %></code>
      <% end %>
    <% end %>
  </section>

  <% if operation.done? %>
    <% operation.reports.each do |report| %>
      <section class="import-operation--section">
        <details class="import-operation--report-detail">
          <summary class="button button--text import-operation--report-summary">
            <div>
              <% if operation.configuration.importer_class.support[:multiple_layers] %>
                <div><%= t(".from_to_html", from: report.mapping.source_layer_name, to: report.mapping.layer.name) %></div>
              <% else %>
                <div><%= t(".to_html", to: report.mapping.layer.name) %></div>
              <% end %>
              <div>
                <% if report.mapping.bulk_mode %>
                  <%= t(".imported_bulk_rows", size: report.bulk_count || 0) %>
                <% else %>
                  <%= t(".imported_rows", total: report.row_results.size, size: report.saved_rows_count) %>
                <% end %>
              </div>
            </div>
          </summary>
          <% if !report.mapping.bulk_mode %>
            <div class="import-operation--report-summary--detail">
              <%= t(".imported_rows_details", new: report.new_rows_count, updated: report.updated_rows_count) %>
            </div>
            <table class="import-operation--report-summary--table">
              <% report.row_results.each_with_index do |row_result, index| %>
                <% if !row_result.did_save || row_result.parsing_error.present? || row_result.errors.present? || row_result.warnings.present? %>
                  <tr class="import-operation--report-line">
                    <th><%= index %></th>
                    <td>
                      <%= t(".row_failure") unless row_result.did_save %>

                      <% if row_result.parsing_error %>
                        <div><%= row_result.parsing_error %></div>
                      <% end %>

                      <% if row_result.errors %>
                        <div><%= report.full_error_messages(index).to_sentence %></div>
                      <% end %>

                      <% if row_result.warnings %>
                        <div><%= report.full_warning_messages(index).to_sentence %></div>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </table>
          <% end %>
        </details>
      </section>
    <% end %>
<% end %>
</div>
