<div class="container container--landing-page">
  <div class="section section--landing-page">
    <div class="landing-section__block landing-section__block--text">
      <%= t(".section_1_html") %>
    </div>
    <div class="landing-section__block landing-section__block--illustration">
      <%= link_to share_commune_de_paris_path, target: "_blank", rel: "noopener" do %>
        <%= image_tag("screenshots/map.jpg") %>
        <%= content_tag :span, t("pages.common.action_go_to_map"), class: "button button--large button--confirm landing-section__call-to-action" %>
      <% end %>
    </div>
  </div>

  <div class="section section--landing-page">
    <div class="landing-section__block landing-section__block--text">
      <h2><%= anchor_link t(".section_2_header"), class: "quiet" %></h2>
      <%= t(".section_2_html") %>
    </div>
    <div class="landing-section__block landing-section__block--illustration">
      <%= link_to share_manifs_retraites_path, target: "_blank", rel: "noopener" do %>
        <%= image_tag("screenshots/table.png") %>
        <%= content_tag :span, t("pages.common.action_go_to_map"), class: "button button--large button--confirm landing-section__call-to-action" %>
      <% end %>
    </div>
  </div>

  <div class="section section--landing-page">
    <div class="landing-section__block landing-section__block--text">
      <h2><%= anchor_link t(".section_3_header"), class: "quiet" %></h2>
      <%= t(".section_3_html") %>
    </div>
    <div class="landing-section__block landing-section__block--illustration">
      <%= link_to share_commune_de_paris_path, target: "_blank", rel: "noopener" do %>
        <%= image_tag("screenshots/cooperation.png") %>
        <%= content_tag :span, t("pages.common.action_go_to_map"), class: "button button--large button--confirm landing-section__call-to-action" %>
      <% end %>
    </div>
  </div>

  <div class="section section--landing-page">
    <div class="landing-section__block landing-section__block--text">
      <h2><%= anchor_link t(".section_4_header"), class: "quiet" %></h2>
      <%= t(".section_4_html") %>
    </div>
    <div class="landing-section__block landing-section__block--actions">
      <a href="https://gitlab.com/codeursenliberte/cocarto" target="_blank" class="icon-button icon-button--action">
        <%= embedded_svg("actions/gitlab.svg") %>
        <span><%= t(".action_gitlab") %></span>
      </a>
      <a href="https://mapstodon.space/@cocarto" target="_blank" class="icon-button icon-button--action">
        <%= embedded_svg("actions/mastodon.svg") %>
        <span><%= t(".action_mastodon") %></span>
      </a>
      <%= mailto_contact(class: "icon-button icon-button--action") do %>
        <%= embedded_svg("actions/email.svg", style: "fill: var(--color-green-10)") %>
        <span><%= t(".action_email") %></span>
      <% end %>
      <a href="https://buttondown.email/cocarto" target="_blank" class="icon-button icon-button--action">
        <%= embedded_svg("actions/newsletter.svg", style: "fill: var(--color-green-10)") %>
        <span><%= t(".action_newsletter") %></span>
      </a>
    </div>
  </div>

  <div class="section section--landing-page">
    <div class="landing-section__block landing-section__block--text">
      <h2><%= anchor_link t(".section_pricing_header"), class: "quiet" %></h2>
      <%= t(".section_pricing_html", contact_email: t("common.app.contact_email")) %>
    </div>
  </div>

  <div class="section section--landing-page section--single-column">
    <div class="landing-section__block--text">
      <h3><%= t(".pricing.on_cocarto_com") %></h3>
      <div class="pricing-grid">
        <div class="pricing-grid__cell pricing-grid__top-cell pricing-grid__plan-title">
          <h4><%= t(".pricing.tier_1.title") %></h4>
        </div>
        <div class="pricing-grid__cell pricing-grid__previous-plan"></div>
        <div class="pricing-grid__cell pricing-grid__list"><%= t(".pricing.tier_1.features_html") %></div>
        <div class="pricing-grid__cell pricing-grid__bottom-cell pricing-grid__price"><%= t(".pricing.tier_1.price") %></div>

        <div class="pricing-grid__cell pricing-grid__top-cell pricing-grid__plan-title">
          <h4><%= t(".pricing.tier_2.title") %></h4>
        </div>
        <div class="pricing-grid__cell pricing-grid__previous-plan">
          <p><%= t(".pricing.tier_2.previous_plan") %></p>
        </div>
        <div class="pricing-grid__cell pricing-grid__list"><%= t(".pricing.tier_2.features_html") %></div>
        <div class="pricing-grid__cell pricing-grid__bottom-cell pricing-grid__price"><%= t(".pricing.tier_2.price") %></div>

        <div class="pricing-grid__cell pricing-grid__top-cell pricing-grid__plan-title">
          <h4><%= t(".pricing.tier_3.title") %></h4>
        </div>
        <div class="pricing-grid__cell pricing-grid__previous-plan">
          <p><%= t(".pricing.tier_3.previous_plan") %></p>
        </div>
        <div class="pricing-grid__cell pricing-grid__list">
          <%= t(".pricing.tier_3.features_html") %>
        </div>
        <div class="pricing-grid__cell pricing-grid__bottom-cell pricing-grid__price">
          <%= mailto_contact(t(".pricing.tier_3.price"), subject: t(".pricing.tier_3.mail_subject")) %>
        </div>
      </div>
    </div>

    <div class="landing-section__block--text">
      <h3><%= t(".pricing.on_premise_title") %></h3>
      <%= t(".pricing.on_premise_html", contact_email: t("common.app.contact_email")) %>
    </div>
  </div>
</div>
