<div class="container container--landing-page">
  <div class="section--landing-page"></div>

  <div class="section section--landing-page">
    <div class="landing-section__block landing-section__block--text">
      <h1><%= t(".hero") %></h1>
      <%= t(".section_1_html") %>
    </div>
    <div class="landing-section__block landing-section__block--illustration">
      <%= link_to share_gr20_path, target: "_blank", rel: "noopener" do %>
        <%= image_tag("screenshots/map-gr20.jpg") %>
        <%= content_tag :span, t("pages.common.action_go_to_map"), class: "button button--large button--confirm landing-section__call-to-action" %>
      <% end %>
    </div>
  </div>

  <div class="section--breakout section--landing-banner">
    <div class="container">
      <h2><%= t(".banner_html") %></h2>
      <p><%= link_to t(".try_cocarto"), new_user_registration_path, class: "button button--extra-large button--confirm" %></p>
    </div>
  </div>

  <div class="section section--landing-page">
    <div class="landing-section__block landing-section__block--text">
      <h2><%= anchor_link t(".section_8_header"), class: "quiet" %></h2>
      <%= t(".section_8_html") %>
    </div>
    <div class="landing-section__block landing-section__block--illustration">
      <%= link_to share_gr20_path, target: "_blank", rel: "noopener" do %>
        <%= image_tag("screenshots/add-points.png") %>
        <%= content_tag :span, t("pages.common.action_go_to_map"), class: "button button--large button--confirm landing-section__call-to-action" %>
      <% end %>
    </div>
  </div>

  <div class="section section--landing-page">
    <div class="landing-section__block landing-section__block--text">
      <h2><%= anchor_link t(".section_9_header"), class: "quiet" %></h2>
      <%= t(".section_9_html") %>
    </div>
    <div class="landing-section__block landing-section__block--illustration">
      <%= link_to share_gr20_path, target: "_blank", rel: "noopener" do %>
        <%= image_tag("screenshots/edit-tabular-data.png") %>
        <%= content_tag :span, t("pages.common.action_go_to_map"), class: "button button--large button--confirm landing-section__call-to-action" %>
      <% end %>
    </div>
  </div>

  <div class="section section--landing-page">
    <div class="landing-section__block landing-section__block--text">
      <h2><%= anchor_link t(".section_3_header"), class: "quiet" %></h2>
      <%= t(".section_3_html") %>
    </div>
    <div class="landing-section__block landing-section__block--illustration">
      <%= link_to share_gr20_path, target: "_blank", rel: "noopener" do %>
        <%= image_tag("screenshots/simplified-form.jpg") %>
        <%= content_tag :span, t("pages.common.action_go_to_map"), class: "button button--large button--confirm landing-section__call-to-action" %>
      <% end %>
    </div>
  </div>

  <div class="section section--landing-page">
    <div class="landing-section__block landing-section__block--text">
      <h2><%= anchor_link t(".section_4_header"), class: "quiet" %></h2>
      <%= t(".section_4_html") %>
    </div>
    <div class="landing-section__block landing-section__block--illustration">
      <%= link_to share_gr20_path, target: "_blank", rel: "noopener" do %>
        <%= image_tag("screenshots/shared-links.png") %>
        <%= content_tag :span, t("pages.common.action_go_to_map"), class: "button button--large button--confirm landing-section__call-to-action" %>
      <% end %>
    </div>
  </div>

  <div class="section section--landing-page">
    <div class="landing-section__block landing-section__block--text">
      <h2><%= anchor_link t(".section_5_header"), class: "quiet" %></h2>
      <%= t(".section_5_html") %>
    </div>
    <div class="landing-section__block landing-section__block--illustration">
      <%= link_to share_gr20_path, target: "_blank", rel: "noopener" do %>
        <%= image_tag("screenshots/table.png") %>
        <%= content_tag :span, t("pages.common.action_go_to_map"), class: "button button--large button--confirm landing-section__call-to-action" %>
      <% end %>
    </div>
  </div>

  <div class="section section--landing-page">
    <div class="landing-section__block landing-section__block--text">
      <h2><%= anchor_link t(".section_2_header"), class: "quiet" %></h2>
      <%= t(".section_2_html") %>
    </div>
    <div class="landing-section__block landing-section__block--illustration">
      <%= link_to share_gr20_path, target: "_blank", rel: "noopener" do %>
        <%= image_tag("screenshots/cooperation-gr20.png") %>
        <%= content_tag :span, t("pages.common.action_go_to_map"), class: "button button--large button--confirm landing-section__call-to-action" %>
      <% end %>
    </div>
  </div>

  <div class="section section--landing-page">
    <div class="landing-section__block landing-section__block--text">
      <h2><%= anchor_link t(".section_7_header"), class: "quiet" %></h2>
      <%= t(".section_7_html") %>
    </div>
    <div class="landing-section__block landing-section__block--illustration">
      <%= link_to share_gr20_path, target: "_blank", rel: "noopener" do %>
        <%= image_tag("screenshots/export.png") %>
        <%= content_tag :span, t("pages.common.action_go_to_map"), class: "button button--large button--confirm landing-section__call-to-action" %>
      <% end %>
    </div>
  </div>

  <div class="section--breakout section--landing-banner">
    <div class="container">
      <h2><%= t(".closing_banner") %></h2>
      <p><%= link_to t(".create_new_map"), new_user_registration_path, class: "button button--extra-large button--confirm" %></p>
    </div>
  </div>
</div>
