<%# locals: (form:, operation:, configuration:) %>
<% mapping = form.object %>

<div class="form__section">
  <h3 class="form__header"><%= t(".columns") %></h3>

  <div class="form__field form__field--inline import__form-grid">
    <%= form.fields_for :fields_columns do |columns_form| %>
      <%# Loop over the analysed columns rather than mapping.fields_columns to respect the source ordering %>
      <%# (mapping.fields_columns is stored as jsonb, which doesn't guarantee ordering) %>
      <% operation.layer_analysis(mapping).columns.each do |label, _type| %>
        <%= columns_form.label label, label %>
        <%= columns_form.select label, mapping.layer.fields.map { [_1.label, _1.id] }, selected: mapping.fields_columns[label], include_blank: t(".blank") %>
      <% end %>
    <% end %>
  </div>
</div>
