@use "dropdown";
@use "forms";
@use "card";
@use "header";
@use "buttons";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 16px;
  background: var(--color-bg-ambient-10);
  font-family: var(--font-serif);
}

[hidden] {
  // Prevent overriding the hidden html attribute with another display: rule
  display: none !important;
}

a {
  color: var(--color-green-70);
}

p {
  padding-top: 8px;
  padding-bottom: 8px;
}

a b,
a strong {
  border: none;
  color: var(--color-grey-80);
  outline: none;
}

a.quiet:not(:hover, :focus) {
  text-decoration: none;
  color: inherit;
}

button:disabled {
  cursor: not-allowed;
}

a[disabled] {
  // Make `a` elements support disabled. This does not prevent keyboard navigation, and prevents cursor changes.
  pointer-events: none !important;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a b,
a em,
a i,
a strong,
button {
  display: inline-block;
  line-height: 1.5;
  padding: 0.1rem 0.2rem;
  border: 0;
}

.turbo-progress-bar {
  background-color: var(--color-green-70);
}
