// Text buttons
.button {
  display: flex; // buttons themselves can contain text and icon; center it
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 36px;
  padding: 6px 16px;
  border: 0;
  border-radius: var(--border-radius);
  text-decoration: none;
  cursor: pointer;
  font-family: var(--font-serif);
  white-space: nowrap;
  font-size: 16px;
  font-weight: normal;
  color: white;
  line-height: 1.5;

  &[disabled] {
    background: var(--color-bg-ambient-20);
    border-color: var(--color-bg-ambient-20);
    color: var(--color-grey-80);
  }
}

.button--slim {
  height: 28px;
  font-size: 11px;
  line-height: 1;
}

.button--large {
  font-size: 18px;
  height: 40px;
  min-width: 40px;
}

.button--extra-large {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1px;
  height: 48px;
  min-width: 40px;
  padding-inline: 24px;
}

.button--link {
  color: var(--color-green-70);
  background-color: transparent;

  &:hover:not([disabled], :active) {
    color: var(--color-green-90);
    background-color: var(--color-bg-ambient-30);
  }

  &:hover:active {
    color: var(--color-green-100);
    background-color: var(--color-bg-ambient-40);
  }
}

.button--text {
  color: var(--color-text);
  background-color: transparent;

  &:hover:not([disabled], :active) {
    background-color: var(--color-bg-ambient-30);
  }

  &:hover:active {
    background-color: var(--color-bg-ambient-40);
  }
}

.button--confirm {
  background-color: var(--color-green-70);
  letter-spacing: 0.44px;
  min-width: 80px;

  &:hover:not([disabled], :active) {
    background-color: var(--color-green-90);
  }

  &:hover:active {
    background-color: black;
  }
}

.button--alternate {
  color: var(--color-green-80);
  background-color: var(--color-green-20);

  &:hover:not([disabled], :active) {
    background-color: var(--color-green-30);
  }

  &:hover:active {
    background-color: var(--color-green-80);
  }
}

.button--delete {
  color: var(--color-text);
  background-color: var(--color-attention-20);

  &:hover:not([disabled], :active) {
    color: var(--color-text);
    background-color: var(--color-attention-30);
  }

  &:hover:active {
    color: white;
    background-color: var(--color-attention-40);
  }
}

.button--close {
  color: var(--color-green-50);
  background-color: transparent;
  padding: 6px;

  &:hover:not([disabled], :active) {
    color: var(--color-green-70);
  }

  &:hover:active {
    color: var(--color-green-100);
  }
}

.button--lowercase {
  text-transform: lowercase;
}

// Icon buttons
.icon-button {
  cursor: pointer;
  height: 36px;
  width: 36px;
  padding: 6px;
  border-radius: 4px;
  color: var(--color-green-70);
  background: none;

  &:hover:not([disabled], :active) {
    color: var(--color-green-80);
  }

  &:hover:active {
    color: var(--color-green-100);
  }

  &[disabled] {
    color: var(--color-grey-70);
  }
}

.icon-button--double-bordered {
  background-color: var(--color-bg);
  box-shadow:
    inset 0 0 0 0.5px var(--color-grey-60),
    inset 0 0 0 2.5px var(--color-bg),
    inset 0 0 0 3px var(--color-grey-50);

  &:hover:not([disabled]) {
    background-color: var(--color-bg-ambient-10);
    box-shadow:
      inset 0 0 0 0.5px var(--color-grey-60),
      inset 0 0 0 2.5px var(--color-bg),
      inset 0 0 0 3px var(--color-grey-70);
  }

  &[disabled] {
    background: var(--color-bg-ambient-20);
    border-color: var(--color-bg-ambient-20);
  }
}

.icon-button--small {
  height: 28px;
  width: 28px;
  padding: 6px;

  svg {
    width: 16px;
    height: 16px;
  }
}

.icon-button--large {
  height: 40px;
  width: 40px;
  padding: 8px;
}

.icon-button--confirm {
  color: white;
  background-color: var(--color-green-70);

  &:hover:not([disabled], :active) {
    color: white;
    background-color: var(--color-green-90);
  }

  &:hover:active {
    color: white;
    background-color: black;
  }
}

.icon-button--alternate {
  color: var(--color-green-80);
  background-color: var(--color-green-20);

  &:hover:not([disabled], :active) {
    background-color: var(--color-green-30);
  }

  &:hover:active {
    color: white;
    background-color: var(--color-green-80);
  }
}

.icon-button--action {
  // hoverable icon with text below
  height: 80px;
  width: 80px;
  text-decoration: none;
  text-align: center;
  font-family: var(--font-sans);
  font-size: 16px;
  filter: brightness(1.2) grayscale(1);
  transition: filter 0.3s;

  svg {
    width: 56px;
    height: 56px;
    color: var(--color-grey-70);
  }

  &:hover:not([disabled]) {
    filter: revert;
  }
}

.icon-button--dimmed {
  color: var(--color-green-40);
  box-shadow:
    inset 0 0 0 1px var(--color-grey-30),
    inset 0 0 0 2px var(--color-bg),
    inset 0 0 0 2.5px var(--color-grey-50);

  &:hover:not([disabled]) {
    box-shadow:
      inset 0 0 0 1px var(--color-grey-30),
      inset 0 0 0 2px var(--color-bg),
      inset 0 0 0 2.5px var(--color-grey-70);
  }
}

// Buttons bar
.buttons-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.buttons-bar--tight {
  gap: 2px;
}

.buttons-bar--loose {
  gap: 32px;
}

// segmented control
.buttons-segmented-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0;

  .segment {
    color: var(--color-text);
  }

  .segment--hidden {
    color: var(--color-grey-50);
  }

  .segment--focus {
    color: var(--color-green-70);
  }

  .button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
  }

  .button:not(:last-child)::after {
    content: " ";
    position: absolute;
    right: -0.25px;
    height: 50%;
    border-right: 0.5px solid var(--color-text);
  }
}

// Special input with button
.form__input-with-button {
  display: flex;

  input {
    width: 100%;
    margin-right: -35px;
    padding-right: 35px;
  }

  button,
  a {
    width: 36px;
    font-family: var(--font-sans);
    height: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    top: 1px;
    right: 2px;
    border-radius: 0;
  }
}

.button--with-icon {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  padding: 6px;
  width: 100%;
  white-space: nowrap;
}
