.dropdown {
  user-select: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.dropdown__content {
  display: none;
  visibility: hidden;
  position: absolute;
  background-color: var(--color-bg);
  border: 1px solid var(--color-grey-60);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--color-text);
  top: 0;
  left: 0;
  z-index: var(--dropdown-z-index);
  text-align: initial; // reset alignment when the dropdown is displayed from a table header (with text centered)

  &:hover {
    cursor: initial;
    user-select: initial;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-user-select: none;
  }

  .dropdown__item {
    text-decoration: none;
    padding: 3px 6px;

    &:hover {
      color: var(--color-grey-50);
    }
  }
}

.dropdown__content--padded {
  // note: replace with context-specific variants
  padding: 0.2rem;
}

.is-active > .dropdown__content {
  display: revert;
  visibility: visible;

  // empty content state, when using lazy turbo-frames
  turbo-frame:empty::before {
    content: "…";
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dropdown.is-active .dropdown__indicator {
  transform: rotate(-90deg);
}

.dropdown:not(.is-active) .dropdown__indicator {
  transform: rotate(90deg);
}
