// Rules specific to the Field model forms

.field-form__label {
  gap: 4px;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.field-form__label:has(.field-form__type-radio:not(:checked))
  ~ .field-form__type-param {
  display: none;
}

// Type-specific parameters (territory types, enum values text fields)
// are displayed as a subsection of the type radio
.field-form__type-param {
  margin: 0.5rem 0 0.5rem 1rem;
}

.field-form__order {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.field-form__order-direction {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field-form__current-order {
  font-weight: bold;
}

.field-form__icon--ascending {
  transform: rotate(180deg);
}
