.files-list {
  display: flex;
  overflow: scroll;
  gap: 8px;
  padding: 6px;
  border: 2px solid transparent;
  background: var(--color-bg-ambient-20);
  border-radius: var(--border-radius);

  &.files-drop-area--active {
    border: 2px dashed var(--color-green-70);
    background-color: var(--color-green-20);
  }
}

.files-item {
  position: relative;
  color: var(--color-green-70);
}

.files-item__remove-button {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}

.files-item:hover .files-item__remove-button {
  visibility: visible;
}

.files-item--present .files-item__content,
.files-item--removed .files-item__content,
.files-item--button .files-item__content {
  cursor: pointer;

  &:hover:not([disabled], :active) {
    background-color: var(--color-bg-ambient-30);
  }

  &:hover:active {
    background-color: var(--color-bg-ambient-40);
  }
}

.files-item--removed .files-item__content {
  color: var(--color-grey-50);
  border: 0.5px dashed var(--color-grey-60);
}

.files-item--button .files-item__content {
  color: var(--color-text);
}

.files-item--added .files-item__content {
  color: var(--color-green-50);
  border: 1px dashed currentcolor;
}

.files-item__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  width: 0;
  height: 100%;
  min-width: 120px;
  max-width: 120px;
  align-items: center;
  justify-content: start;
  padding: 8px;
  border-radius: var(--border-radius);
  border: 0.5px solid transparent;
  text-decoration: none;

  svg,
  img {
    height: 48px;
  }
}

.files-item__preview {
  outline: 1px solid var(--color-grey-50);
  height: 48px;
}

.files-item__title {
  margin-block-start: 8px;
  text-align: center;
  font-family: var(--font-sans);
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: anywhere;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.files-item__metadata,
.files-item__status {
  text-align: center;
  font-family: var(--font-sans);
  font-size: 12px;
}

.files-item--present .files-item__progress,
.files-item--added .files-item__progress,
.files-item--upload-complete .files-item__progress,
.files-item--upload-error .files-item__progress {
  display: none;
}

.files-item--present .files-item__status,
.files-item--upload-pending .files-item__status,
.files-item--uploading .files-item__status {
  display: none;
}

.files-item__progress {
  color: var(--color-green-50);
  border-radius: var(--border-radius);
  height: 8px;
  width: 80px;
  background: var(--color-green-10);
  border: 0.5px solid var(--color-grey-60);

  &::-moz-progress-bar {
    background: currentcolor;
    border-radius: var(--border-radius);
  }

  &::-webkit-progress-bar {
    background: var(--color-green-10);
    border-radius: var(--border-radius);
    border: 0.5px solid var(--color-grey-60);
  }

  &::-webkit-progress-value {
    background: currentcolor;
    border-radius: var(--border-radius);
  }
}

.files-item--single-button {
  cursor: pointer;
  display: flex;
  width: 100%;

  .files-item__content {
    cursor: pointer;
    flex-direction: row;
    min-width: revert;
    max-width: revert;
    width: 100%;
    gap: 8px;
    justify-content: center;
  }

  .files-item__title {
    cursor: pointer;
    text-align: left;
    font-size: 18px;
    margin-block-start: revert;
  }

  .files-item__metadata,
  .files-item__status {
    text-align: left;
  }
}
