.import__source {
  min-height: 70px;
  padding: 0;
  background-color: var(--color-green-10);
  border: 2px solid var(--color-green-60);
  border-radius: var(--border-radius);
  color: var(--color-green-70);
  font-family: var(--font-sans);
}

.import__source--drop-area {
  border-style: dashed;

  &:hover:not([disabled], :active) {
    background-color: var(--color-green-20);
  }

  &.files--drop-area-active,
  &:hover:active {
    background-color: var(--color-green-30);
  }
}

.import__help {
  padding-top: 8px;
  border-top: 1px solid var(--color-grey-40);
}

.import__form-grid {
  display: grid;
  grid-template-columns: minmax(30%, auto) 1fr;
  text-align: right;
  column-gap: 12px;

  * {
    &:nth-child(even) {
      justify-self: start;
    }

    &:nth-child(odd) {
      justify-self: end;
    }
  }
}

.import-operation + .import-operation {
  border-top: 0.5px solid var(--color-grey-50);
  padding-top: 24px;
}

.import-operation--section + .import-operation--section {
  margin-top: 24px;
}

.import-operation--section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.import-operation--report-detail {
  margin-inline: 16px;
}

.import-operation--report-summary {
  margin-inline: -16px;
  height: auto;
}

.import-operation--report-summary--detail {
  margin-inline: 16px;
  margin-block: 8px;
}

.import-operation--report-summary--table {
  border-spacing: 8px 2px;
  margin-inline-start: 16px;
}

.import-operation--report-line {
  th {
    font-family: var(--font-sans);
    font-weight: 400;
    text-align: right;
    font-size: 12px;
  }

  td {
    font-family: var(--font-mono);
    font-weight: 400;
    font-size: 12px;
  }
}
