.modal__container {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding-block: 120px;
  overflow: scroll;
  width: 100%;
  height: 100%;
  z-index: var(--modal-z-index);
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 50%);
}

.modal__box {
  position: relative;
  min-width: 600px;
  max-width: 800px;
}

.modal__close-button {
  position: absolute;
  inset: 0 0 auto auto;
}
