.maplibregl-map {
  font-family: var(--font-serif);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
}

.maplibregl-popup-content {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--color-grey-60);
  padding: 15px;
}

.maplibregl-popup-close-button {
  color: var(--color-green-50);
  font-size: 25px;
  line-height: 0.7;
  display: none;
}

.maplibregl-popup__key-value-pair {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
