<%# locals: (user:, counts:) %>

<li class="list-element" id="<%= dom_id user %>">
  <div class="list-element__row">
    <div class="list-element__content">
      <h4 class="list-element__title"><%= user.email %></h4>
      <div class="list-element__description">
        <span><%= counts[:maps][user.id] %> <%= Map.model_name.human(count: counts[:maps][user.id]).downcase %></span>
        <span><%= counts[:rows][user.id] %> <%= Row.model_name.human(count: counts[:rows][user.id]).downcase %></span>
      </div>
      <div class="list-element__description">
        <%= t("common.created_at", date: I18n.l(user.created_at, format: :sentence)) %>
      </div>
    </div>

    <%= link_to t("helpers.link.user.delete"), [:admin, user],
          class: "button button--delete button--lowercase",
          data: {turbo_method: :delete, turbo_confirm: t("common.confirm")} %>
  </div>
</li>
