<%# params: @users, @counts %>

<div class="container">
  <section class="section">
    <h2 class="section__title"><%= User.model_name.human(count: @users.count) %></h2>
    <ul class="list">
      <%= render @users.order(created_at: :desc), counts: @counts %>
    </ul>
  </section>
</div>
