<%# params: @field, @order_direction %>
<%# Form for a field; used in fields#new and fields#edit %>

<%# In addition to FieldPolicy, most attributes are disabled if the field is locked. %>
<% update_disabled = !policy(@field).update? || @field.locked? %>

<%# frame_id is the same as in fields/_field.html.erb %>
<% frame_id = @field.persisted? ? dom_id(@field, :frame) : dom_id(@field.layer, :new_field_frame) %>
<%= turbo_frame_tag frame_id do %>
  <%# If there are several layers, there are several “new field” form.
      We need to use a namespace in the form so that radio buttons and checkbox labels identify the items in the right form. %>
  <% form_namespace = @field.persisted? ? dom_id(@field) : dom_id(@field.layer, :new_field) %>
  <%= form_with model: @field.new_record? ? [@field.layer, @field] : @field, namespace: form_namespace, class: "form" do |form| %>
    <div class="card__main-content form">
      <% if @field.new_record? %>
        <h3 class="form__header"><%= t("helpers.link.field.new") %></h3>
      <% end %>
      <%= form.hidden_field :layer_id %>
      <div class="form__field">
        <%= form.text_field :label, disabled: update_disabled %>
      </div>

      <div class="form__field">
        <%= form.collection_radio_buttons(:field_type, Field.field_types.keys,
              :to_s, -> { Field.human_attribute_name("field_types.#{_1}") },
              include_hidden: false) do |radio| %>
          <%# show the radio only if the field is new, or if this radio is the field type %>
          <%# field type can only be set initially %>
          <% if @field.new_record? || @field.field_type == radio.object %>
            <div class="form__field">
              <%= radio.label class: "field-form__label" do %>
                <%= radio.radio_button class: "field-form__type-radio", required: @field.new_record?, disabled: @field.persisted? %>
                <%= radio.label %>
              <% end %>
              <% if radio.object == "text" %>
                <div class="field-form__type-param form__field form__field--inline">
                  <%= form.check_box :text_is_long, disabled: update_disabled %>
                  <%= form.label :text_is_long %>
                </div>
              <% elsif radio.object == "enum" %>
                <div class="field-form__type-param form__field" data-controller="enum-values">
                  <template data-enum-values-target="template">
                    <%= form.text_field :enum_values, value: nil, multiple: true, disabled: update_disabled, placeholder: t("helpers.placeholder.field.enum_value"), data: {enum_values_target: "value", action: "input->enum-values#valueInput"} %>
                  </template>
                  <% @field.enum_values&.each do |val| %>
                    <%= form.text_field :enum_values, value: val, multiple: true, disabled: update_disabled, placeholder: t("helpers.placeholder.field.enum_value"), data: {enum_values_target: "value", action: "input->enum-values#valueInput"} %>
                  <% end %>
                </div>
              <% elsif radio.object == "territory" %>
                <div class="field-form__type-param form__field">
                  <%= form.collection_check_boxes(:territory_category_ids, TerritoryCategory.all,
                        :id, :to_s,
                        include_hidden: false) do |check| %>
                    <%= check.label do %>
                      <%= check.check_box(disabled: @field.persisted?) %>
                      <%= check.text %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <% if @field.persisted? %>
        <div class="form__section">
          <div class="form__field">
            <div class="form__field form__field--inline">
              <%= form.check_box :locked, disabled: !policy(@field).update? %>
              <%= form.label :locked %>
            </div>
            <div class="form__field form__field--inline">
              <%= form.check_box :display_in_tooltip, disabled: !policy(@field).update? %>
              <%= form.label :display_in_tooltip %>
            </div>
          </div>
        </div>

        <div class="form__field field-form__order">
          <%= t(".order_by") %>
          <div class="field-form__order-direction">
            <% if @order_direction == "ASC" %>
              <%= link_to t(".order_asc"), @field.layer, class: "field-form__current-order", data: {turbo_frame: dom_id(@field.layer)} %>
            <% else %>
              <%= link_to t(".order_asc"), layer_path(@field.layer, order_by: {@field.id => "ASC"}), data: {turbo_frame: dom_id(@field.layer)} %>
            <% end %>
            <% if @order_direction == "DESC" %>
              <%= link_to t(".order_desc"), @field.layer, class: "field-form__current-order", data: {turbo_frame: dom_id(@field.layer)} %>
            <% else %>
              <%= link_to t(".order_desc"), layer_path(@field.layer, order_by: {@field.id => "DESC"}), data: {turbo_frame: dom_id(@field.layer)} %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="card__footer-content">
      <%= submit_tag t("helpers.submit.field.update"), class: "button button--confirm", disabled: !policy(@field).update? %>
      <% if @field.persisted? %>
        <%= link_to @field, data: {turbo_method: :delete}, class: "button button--delete button--lowercase",
              disabled: update_disabled do %>
          <%= t("helpers.link.field.delete") %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
