<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t("common.app.title") %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "favicon" %>
    <%= render "sentry" %>

    <link rel='stylesheet' href='https://unpkg.com/maplibre-gl@4.3.2/dist/maplibre-gl.css'>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.3/mapbox-gl-draw.css'>
    <link rel='stylesheet' href='https://ga.jspm.io/npm:@maplibre/maplibre-gl-geocoder@1.5.0/dist/maplibre-gl-geocoder.css'>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application.css", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= turbo_frame_tag "modal" %>
    <%= render "flash" %>

    <%= render "header", header_mode: @header_mode %>

    <main>
      <%= yield %>
    </main>

    <%= content_for?(:footer) ? yield(:footer) : render("footer") %>

  </body>
</html>
