<%# locals: (row:, focus_field:, from_rows_new:) %>
<%# used in rows/edit and rows/new %>

<%= form_with model: row.new_record? ? [row.layer, row] : row, id: dom_id(row, :form), multipart: true, class: class_names("form", "add-single-row__form": from_rows_new) do |form| %>
  <% if from_rows_new %>
    <%= hidden_field_tag :from_rows_new, true %>
    <%= form.hidden_field :geojson, data: {map_add_point_target: "geojson"} %>
  <% end %>
  <div class="card__main-content">
    <% if from_rows_new %>
      <h3 class="form__header">
        <% layers = row.map.layers.geometry_point.ordered.each %>
        <% if layers.size == 1 %>
          <span><%= row.map.name %></span> / <span><%= row.layer.name %></span>
        <% else %>
          <span><%= row.map.name %></span> /
          <select onchange="location = this.value">
            <%= options_for_select layers.map { |layer| [layer.name, new_layer_row_path(layer)] }, selected: new_layer_row_path(row.layer) %>
          </select>
        <% end %>
      </h3>
    <% end %>
    <% row.fields_values.each do |field, value| %>
      <div class="form__field">
        <%= form.label sanitize_to_id("fields_values[#{field.id}]"), field.display_label %>
        <%= render FieldValueComponent.new(field: field, value: value, row: row, form_prefix: :form, autofocus: focus_field == field) %>
      </div>
    <% end %>

    <div data-controller="row-style">
      <div class="form__field">
        <%= form.label :color, t(".color") %>
      </div>

      <div class="form__field">
        <label class="field-form__label">
          <%= form.radio_button :color, "layer", checked: row.color.blank?, data: {"row-style-target": "layerRadio", action: "input->row-style#updateColorInputs"} %>
          <%= t(".layer_radio_color") %>
          <%= form.hidden_field :color, value: "", data: {"row-style-target": "layerColorInput"} %>
        </label>
      </div>

      <div class="form__field">
        <label class="field-form__label">
          <%= form.radio_button :color, "row", checked: row.color.present?, data: {"row-style-target": "rowRadio", action: "input->row-style#updateColorInputs"} %>
          <%= t(".row_radio_color") %>
          <%= form.color_field :color, class: "color-picker", data: {"row-style-target": "rowColorInput"} %>
        </label>
      </div>
    </div>

    <div class="form__field">
      <% if row.layer.geometry_type == "line_string" || row.layer.geometry_type == "polygon" %>
        <div class="field-form__label">
          <%= form.label :line_width, t(".line_width") %>
        </div>
        <div class="form_field">
          <label class="field-form__label">
              <%= form.select :line_width, Row::LINE_WIDTH_OPTIONS, selected: row.line_width || Row::LINE_WIDTH_DEFAULT %>
          </label>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card__footer-content">
    <%= form.submit from_rows_new ? t("helpers.link.row.add_this_point") : t("common.save"), class: "button button--confirm" %>
  </div>
<% end %>
