<turbo-frame id="popup">
  <% @row.fields_values.filter { |field, _| field.display_in_tooltip? }.each do |field, value| %>
    <div class="maplibregl-popup__key-value-pair">
        <%= i18n_key_value_pair(field, value) %>
    </div>
  <% end %>
</turbo-frame>
